*,
*::before,
*:: after {
    box-sizing: border-box;
}

 :root {
 --main-bg-color: white;
 --ff-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

} 

body {
    background-color: white;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: var(--ff-main);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

/* .hide {
    display: none;
} */

.btn {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: blue;  
    border-radius: 5px;
    box-shadow: 2px 3px grey;
    color: white;
    margin: 0 5px

}

.btn:hover {
    transition: 0.5ms;
    background-color:red;
    color: white;
    cursor: pointer;
    border: 2px solid gold;
}


a {
    text-decoration: none;
    color: white;
    padding: 10px;
}